.container {
  margin-top: 80px;
  margin-bottom: 60px;
  max-width: 750px;
}

.card {
  background-image: url("images/sky.jpg");
}

.card-body {
  padding: 0;
}

#box {
  display: block;
  margin: 0 auto;
  border-radius: 12px;
  position: relative;
  top: 50px;
}

#submit-button {
  display: block;
  border-width: 1 px;
  border-radius: 20px;
  padding: 0 5px;
  font-size: 15px;
  position: relative;
  left: 460px;
  top: 22px;
  background-color: #fff;
}

h1,
h2,
h3 {
  text-align: center;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 33px;
  margin-top: 110px;
}

h2 {
  font-size: 43px;
}

h3 {
  font-size: 24px;
}

.sun {
  width: 210px;
  position: relative;
  left: 5px;
  bottom: 153px;
}

.sunny {
  font-size: 22px;
  font-weight: bold;
  text-transform: capitalize;
  position: relative;
  left: 63px;
  bottom: 180px;
}

#info {
  position: relative;
  left: 30px;
  bottom: 195px;
}

#list {
  list-style: none;
  font-size: 19px;
  font-weight: bold;
  text-transform: capitalize;
}

.cloud {
  width: 110px;
  position: relative;
  left: 335px;
  bottom: 255px;
}

.row {
  position: relative;
  bottom: 220px;
}

.weather {
  max-width: 110px;
  position: relative;
  left: 27px;
  top: 65px;
}

.positions {
  position: relative;
  left: 65px;
  top: 80px;
  font-weight: bold;
}

.situation {
  position: relative;
  left: 55px;
  top: 65px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
}

#current-button {
  display: block;
  border-radius: 20px;
  padding: 10 15px;
  font-size: 18px;
  position: relative;
  left: 320px;
  bottom: -85px;
  cursor: pointer;
  background-color: #fff;
}

#link {
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

#link:hover {
  color: blue;
}
